.diary p {
  margin: 0;
  text-align: center;
}

.diary {
  border: 1px solid black;
  border-radius: 10px;
  padding: 0.5rem;
  background-color: white;
}

.diaries {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  gap: 1.5rem;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2 {
  text-align: center;
}

form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

button {
  background-color: rgba(24, 209, 200, 0.651);
  border: none;
  max-width: 250px;
  padding: 0.5rem;
  border-radius: 10px;
}

button:hover {
  background-color: rgb(28, 15, 214);
}

:root {
  background-color: aliceblue;
}

.notification {
  min-height: 50px;
  color: red;
  font-weight: 500;
  font-size: 1.4rem;
  text-align: center;
}
